input {
  margin: 20px 0 !important;

  width: 400px;
  height: 40px;
  border-radius: 10px !important;
  box-shadow: 0 0 8px var(--color-grayscale-c4);
  border: 1px solid var(--color-grayscale-c6);
}

button {
  margin: 0 30px !important;
  font-weight: 500;
}
