:root {
  --color-primary: #316BFF;
  --color-primary-hover: #2756CC;
  --color-primary-clicked: #2756CC;
  --color-primary-80: rgba(49, 107, 255, .8);
  --color-primary-60: rgba(49, 107, 255, .6);
  --color-primary-40: rgba(49, 107, 255, .4);
  --color-primary-20: rgba(49, 107, 255, .2);

  --color-red: #FF543D;
  --color-red-80: rgba(255, 84, 61, .8);
  --color-red-60: rgba(255, 84, 61, .6);
  --color-red-40: rgba(255, 84, 61, .4);
  --color-red-20: rgba(255, 84, 61, .2);

  --color-purple: #878CFF;
  --color-purple-80: rgba(135, 140, 255, .8);
  --color-purple-60: rgba(135, 140, 255, .6);
  --color-purple-40: rgba(135, 140, 255, .4);
  --color-purple-20: rgba(135, 140, 255, .2);


  --color-orange: #FFAF4E;
  --color-orange-80: rgba(255, 175, 78, .8);
  --color-orange-60: rgba(255, 175, 78, .6);
  --color-orange-40: rgba(255, 175, 78, .4);
  --color-orange-20: rgba(255, 175, 78, .2);

  --color-black: #141416;
  --color-black-80: rgba(20, 20, 22, .8);
  --color-black-60: rgba(20, 20, 22, .6);
  --color-black-40: rgba(20, 20, 22, .4);
  --color-black-20: rgba(20, 20, 22, .2);

  --color-gray: #8E94A3;
  --color-gray-80: rgba(142, 148, 163, .8);
  --color-gray-60: rgba(142, 148, 163, .6);
  --color-gray-40: rgba(142, 148, 163, .4);
  --color-gray-20: rgba(142, 148, 163, .2);


  --color-grayscale-c1: #141416;
  --color-grayscale-c2: #222529;
  --color-grayscale-c3: #3B3E44;
  --color-grayscale-c4: #84878B;
  --color-grayscale-c4v: #4A4E54;
  --color-grayscale-c5: #E7E8EA;
  --color-grayscale-c6: #E7ECF3;
  --color-grayscale-c7: #F4F5F6;
  --color-grayscale-c8: #FCFCFD;

  --color-grey-light: #F4F5F6;
  --color-white: #fff;
  --color-dark: #000000;
  --color-text: #84878B;
  --color-text-dark: #141416;
  --color-text-grey: #4A4E54;
  --color-green: #50A371;
  --color-green-light: rgba(80, 163, 113, 0.20);
  --color-border-light: #E7ECF3;
  --color-light-blue: #E8EFFF;
  --font-family: 'DM Sans', sans-serif;
  --font-family-open-sans: 'Open Sans', sans-serif;

  --color-background: #FAFAFB;

}
